{{template "base" .}}

{{define "content" }}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a id="brokerBtn" class="btn btn-primary" href="javascript:void(0);">Test Broker</a>
            <a id="authBrokerBtn" class="btn btn-primary" href="javascript:void(0);">Test Auth</a>
            <a id="logBtn" class="btn btn-primary" href="javascript:void(0);">Log Via REST</a>
            <a id="mailBtn" class="btn btn-primary" href="javascript:void(0);">Test Mail</a>
            <a id="logGBtn" class="btn btn-primary" href="javascript:void(0);">Test gRPC log</a>


        </div>
    </div>
    <div class="row mt-5">
        <div class="col col-md-12">
            <b class="mt-5">Payload</b>
            <div id="output" style="outline: 1px solid silver; padding: 2em; height: 200px;max-height: 200px; overflow: auto;">
                <span class="text-muted">Results</span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <b class="mt-5">Payload</b>
            <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                <pre id="payload"><span class="text-muted"></span></pre>
            </div>
        </div>
        <div class="col">
            <b class="mt-5">Response</b>
            <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                <pre id="received"><span class="text-muted"></span></pre>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    let brokerBtn = document.getElementById("brokerBtn");
    let authBrokerBtn = document.getElementById("authBrokerBtn");
    let logBtn = document.getElementById("logBtn");
    let logGBtn = document.getElementById("logGBtn");
    let output = document.getElementById("output");
    let sent = document.getElementById("payload");
    let recevied = document.getElementById("received");
    let mailBtn = document.getElementById("mailBtn");

    mailBtn.addEventListener("click", function () {

        const payload = {
            action: "mail",
            mail: {
                from: "sender@mail.com",
                to: "user@bmail.com",
                subject: "Test email",
                message: "Hello world!",
            }
        }

        const headers = new Headers();
        headers.append("Content-Type", "application/json");

        const body = {
            method: 'POST',
            body: JSON.stringify(payload),
            headers: headers,
        }

        fetch("http:\/\/localhost:8080/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, undefined, 4);
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Eror: " + error;
            })
    })

    logGBtn.addEventListener("click", function () {
        const payload = {
            action: "log",
            log: {
                name: "event",
                data: "Some kind of gRPC data",
            }
        }

        const headers = new Headers();
        headers.append("Content-Type", "application/json");

        const body = {
            method: "POST",
            body: JSON.stringify(payload),
            headers: headers,
        }

        fetch("http:\/\/localhost:8080/log-grpc", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, undefined, 4);
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })
    })

    logBtn.addEventListener("click", function () {
        const payload = {
            action: "log",
            log: {
                name: "event",
                data: "Some kind of data",
            }
        }

        const headers = new Headers();
        headers.append("Content-Type", "application/json");

        const body = {
            method: "POST",
            body: JSON.stringify(payload),
            headers: headers,
        }

        fetch("http:\/\/localhost:8080/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, undefined, 4);
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })
    })

    authBrokerBtn.addEventListener("click", function () {

        const payload = {
            action: "auth",
            auth: {
                email: "admin@example.com",
                password: "verysecret",
            }
        }

        const headers = new Headers();
        headers.append("Content-Type", "application/json");

        const body = {
            method: 'POST',
            body: JSON.stringify(payload),
            headers: headers,
        }

        fetch("http:\/\/localhost:8080/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, undefined, 4);
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Eror: " + error;
            })
    })

    brokerBtn.addEventListener("click", function () {

        const body = {
            method: 'POST',
        }

        fetch("http:\/\/localhost:8080", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = "empty post request";
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    console.log(data.message);
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Eror: " + error;
            })
    })

</script>
{{end}}